.logo-docplanner {
  height: 59px;
  width: 220px;
  margin-left: 78%;


}
.navbar {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: .5rem 1rem;
  margin-left: 6%;
  margin-right: 9%;
}
.about{
  color: #00b39b;
}
.logn{
  display: flex;
  justify-content: center;
}
.phrase{
  color: #00b39b;
  text-align: center
}
.image1{
  background-color: #00ccb1;
  height: 97%;
    width: 99%;
    border-radius: 4px;
    -webkit-animation: fadein 9s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 9s; /* Firefox < 16 */
     -ms-animation: fadein 9s; /* Internet Explorer */
      -o-animation: fadein 9s; /* Opera < 12.1 */
         animation: fadein 9s;


}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.image2{
  color: white;
  background-color: #3d83df;
  border-radius: 4px;
  height: 97%;
    width: 99%;
    overflow: hidden;
    -webkit-animation: fadein 12s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 12s; /* Firefox < 16 */
     -ms-animation: fadein 12s; /* Internet Explorer */
      -o-animation: fadein 12s; /* Opera < 12.1 */
         animation: fadein 12s;

}

.image11{
  max-width: 100%;
  height: auto;
  margin-left: 155px;
  margin-top: -43px;



}
.image1{
  height: 97%;
  width: 99%;
  color: white;
  overflow: hidden;
  border-radius: 4px;

}
.image22{
  max-width: 100%;
  height: auto;
  margin-left: 155px;


}
.Titre1{
  font-size: .875em;
  margin-left: 30px;
  margin-top: 30px;
  -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 7s; /* Internet Explorer */
    -o-animation: fadein 7s; /* Opera < 12.1 */
       animation: fadein 7s;

}
.Titre2{
  font-size: .875em;
 padding-top: 30px;
  margin-left: 30px;
  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 8s; /* Firefox < 16 */
   -ms-animation: fadein 8s; /* Internet Explorer */
    -o-animation: fadein 8s; /* Opera < 12.1 */
       animation: fadein 8s;

}
.p1{
  font-size: 1.625em;
  margin-left: 30px;
  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 8s; /* Firefox < 16 */
   -ms-animation: fadein 8s; /* Internet Explorer */
    -o-animation: fadein 8s; /* Opera < 12.1 */
       animation: fadein 8s;


}
.p2{
  font-size: 1.625em;
  margin-left: 30px;
  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 8s; /* Firefox < 16 */
   -ms-animation: fadein 8s; /* Internet Explorer */
    -o-animation: fadein 8s; /* Opera < 12.1 */
       animation: fadein 8s;


}
.select{
margin-left: 30px;

  margin-left: 42px;
  /* margin-top: 25px; */
  height: 45px;
}
.pmot{
  color: #00ccb1;
  font-size: 40px;

}
.brands__logos a path {
  transition: all .2s ease 0s;
  fill: hsla(0,0%,67%,.7);
  background-color: transparent;

}
.List{
  display: flex;
 
  margin-left:5%;
  justify-content: space-around;
}
.row1{
  display: flex;
  justify-content: space-around;
}
.btn-primary{
  height: 35px;
  margin-bottom: 23px;
  color: white;

}
.office__desc{
  margin-bottom: 23px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  color: #747474;

}
.h11{
  color: #00ccb1;
}
.section__inner {
  zoom: 1;
  max-width: 1015px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
  text-align: center;
  color: #ababab;

}
.titleG{
  text-align: center;
}
.ph{
  color: #747474;

}
.Paragraphe1{
  color: #747474;
}
.Paragraphe2{
  color: #747474;
}
.deparments:hover {
  color:  #00ccb1 !important
}
.career{
 
  color: #747474;
 
}
.mots:hover{
  fill: #00ccb1;
}
.mots{
  fill: #ababab;
}
.career:hover {
 
  color:  #00ccb1 !important;
 
}
.listen{
  background-color:  #e5faf8;
}

.private {
  display: flex;
  height: 40%;
  
}
.list1{
  display: flex;
flex-wrap: wrap;
}
.crd {
  text-align: center;
  height: 240px;
  width: 240px;
  margin-top: 56px;
  margin-bottom: 26px;

  margin-left: 29px;
}
.txt{
  color: #00ccb1;
}
.tblock{
color: #00b39b;

}
.tphrase{
color: #ababab;
}
p{
  color:  #747474;
}